#buttons {
        padding:20px;
        width:210px;
        background: #aaa;
    }

    p {
        margin-top:50px;
    }

    #item {
        width:80%;
        border-radius:5px;
        border:none;
        height:23px;
    }

    #eye {
        width:48%;
        float:left;
        height:40px;
        background: #eee 50% url(OpenEye.png) no-repeat;
        background-size: 50%;
        border-radius:25px;
    }

    #broom {
        width:48%;
        float:right;
        height:40px;
        background: #eee 50% url(Broom.png) no-repeat;
        background-size: 40%;
        border-radius:25px;
    }

    #add {
        float:right;
        height:25px;
        width:25px;
        border-radius:8px;
        border:none;
        font-family: "Constantia";
    }

    #done {
        width:19px;
        height:19px;
        float:right;
        background: #eee 50% url(checkmark.png) no-repeat;
        background-size: 80%;
    }

    #delStr {
        width:19px;
        height:19px;
        float:right;
        background: #eee 50% url(delete.png) no-repeat;
        background-size: 80%;
    }

    #save {
        display:block;
        margin: 10px auto;
        border-radius: 5px;
        border:none;
        cursor:pointer;
        text-align:center;
    }
